div.principio {
    justify-content: ;
    background-image: url(../img/tecnología\ asthetic.jpg);
    color:brown;
}

div.col-2 img{
    width: 100px;
    height: 100px;
}


div.col-1 p{
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
}

div.carruselprincipal {
    height: 5%;
}

div.objetos {
    font-size: 20px;
    font-family: fantasy
}

#principal {
    height: 20%;
}

div.col p {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}